In [89]:
import pandas as pd 
import numpy as np

In [120]:
df = pd.read_excel("data/score.xlsx",index_col='지원번호')

In [91]:
# int 타입에 cm문자 추강방법 
#df['키'] = df['키'].astype(str) + 'cm'

################### 함수사용해서 추가 ###################
# def add_cm(height):
#     return str(height)+'cm'
# df['키'] =df['키'].apply(add_cm)

df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['평균'] = df['합계'] / 5
df['등급'] = 'F'


#함수를 사용해서 90점이상은 합격 ,90점미만은 불합격 
def rank(score):
    result =''
    if score >90:
     result ="합격"
    else: 
        result = "불합격"
    return result

df['등급'] = df['평균'].apply(rank)

In [92]:
### 90점이상  A  ,80점 이상 B 70점이상c, 60점이상D 60점미만 F
def rank(score):
    result =''
    if score >=90:result ="A"
    elif score >=80:result = "B"
    elif score >=70:result = "C"
    elif score >=60:result = "D"
    elif score <60:result = "F"  
    return result

#df['등급'] = df['평균'].apply(rank)

In [93]:
### SW 특기에서 글자 모두 소문자로 변경하시오 
#df['SW특기']=df['SW특기'].str.lower()
#df['SW특기']=df['SW특기'].str.capitalize()

#### java 라는 글자가 포함되어 있는 문자를 모두 출력하시오 (대소문자 구분없음 )
# na : True NAN데이터 포함, False : 제외 
# filt = df['SW특기'].str.lower().str.contains('java',na=False)  
# df[filt]

In [94]:
###함수를  SW특기의 컬럼의 글자를  모두 대문자로 변경하고 , NAN데이터는 C를 입력하시오 .
# if pd.null() #null 
#isna() isnull notnull 
#null 이 아니냐? 
# def changedata(a_data):
#      if pd.notnull(a_data):return a_data.lower()
#      else: return "C"
def changedata(a_data):
     if pd.isnull(a_data):return "c"
     else: return a_data.lower()
     
df['SW특기'] = df['SW특기'].apply(changedata)
#df['등급'] = df['등급'].apply(changedata) # 등급 소문자변경 
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   합계    평균   등급
지원번호
1번    홍길동   가산고  197   90   85  100  95  85      python  455  91.0   합격
2번    유관순   가산고  184   40   35   50  55  25        java  205  41.0  불합격
3번    이순신   가산고  168   80   75   70  80  75  javascript  380  76.0  불합격
4번    강감찬   가산고  187   40   60   70  75  80           c  325  65.0  불합격
5번     김구   가산고  188   15   20   10  35  10           c   90  18.0  불합격
6번    김유신  디지털고  202   80  100   95  85  80           c  440  88.0  불합격
7번    홍길자  디지털고  188   55   65   45  40  35      python  240  48.0  불합격
8번    홍길순  디지털고  190  100   85   90  95  95          c#  465  93.0   합격

In [95]:
df.loc[df['SW특기'].isnull(),'SW특기']

Series([], Name: SW특기, dtype: object)

In [96]:
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   합계    평균   등급
지원번호
1번    홍길동   가산고  197   90   85  100  95  85      python  455  91.0   합격
2번    유관순   가산고  184   40   35   50  55  25        java  205  41.0  불합격
3번    이순신   가산고  168   80   75   70  80  75  javascript  380  76.0  불합격
4번    강감찬   가산고  187   40   60   70  75  80           c  325  65.0  불합격
5번     김구   가산고  188   15   20   10  35  10           c   90  18.0  불합격
6번    김유신  디지털고  202   80  100   95  85  80           c  440  88.0  불합격
7번    홍길자  디지털고  188   55   65   45  40  35      python  240  48.0  불합격
8번    홍길순  디지털고  190  100   85   90  95  95          c#  465  93.0   합격

In [97]:
df['학교'].str.slice(0,-1)

지원번호
1번     가산
2번     가산
3번     가산
4번     가산
5번     가산
6번    디지털
7번    디지털
8번    디지털
Name: 학교, dtype: object

In [98]:
df['학교'] = df['학교']+"등학교"
df['키'] =df['키'].astype(str)+ "cm"

In [99]:
# zfill 자리수에 맞게 0으로 빈칸을 채움 str 타입일때 
df['이름'].str.zfill(width=3)
df['국어'].astype(str).str.zfill(width=3) # 숫자타입은 문자로 변경후 zfill적용

지원번호
1번    090
2번    040
3번    080
4번    040
5번    015
6번    080
7번    055
8번    100
Name: 국어, dtype: object

In [100]:
df['요일'] = [0,1,2,3,4,5,3,6]

In [101]:
### 함수를 사용해서 요일 0 : 일요일  1월 2화 3수 4목 5금 6토 
# def date(d_day):
#     days = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']
#     if 0 <= d_day <= 6:
#         return days[d_day]
#     else:
#         return '오류'  # 예외 처리

# # 적용
# df['요일'] = df['요일'].apply(date)
# df
##################################
def change_week(wData):
    ch = " "
    if wData== 0: ch='일요일'
    elif wData ==1:ch='월요일'
    elif wData ==2:ch='화요일'
    elif wData ==3:ch='수요일'
    elif wData ==4:ch='목요일'
    elif wData ==5:ch='금요일'
    else: ch='토요일'
    return ch

df['요일'] = df['요일'].apply(change_week)
df

,이름,학교,키,국어,영어,수학,과학,사회,SW특기,합계,평균,등급,요일
지원번호,,,,,,,,,,,,,
1번,홍길동,가산고등학교,197cm,90,85,100,95,85,python,455,91.0,합격,일요일
2번,유관순,가산고등학교,184cm,40,35,50,55,25,java,205,41.0,불합격,월요일
3번,이순신,가산고등학교,168cm,80,75,70,80,75,javascript,380,76.0,불합격,화요일
4번,강감찬,가산고등학교,187cm,40,60,70,75,80,c,325,65.0,불합격,수요일
5번,김구,가산고등학교,188cm,15,20,10,35,10,c,90,18.0,불합격,목요일
6번,김유신,디지털고등학교,202cm,80,100,95,85,80,c,440,88.0,불합격,금요일
7번,홍길자,디지털고등학교,188cm,55,65,45,40,35,python,240,48.0,불합격,수요일
8번,홍길순,디지털고등학교,190cm,100,85,90,95,95,c#,465,93.0,합격,토요일

In [123]:
df = pd.read_excel("data/score.xlsx",index_col='지원번호')

In [124]:
df['요일'] = 0

In [135]:
import random 
### loc ,iloc 
#df.loc['1번','요일'] =2 
df.iloc[0,9] = 6 
df.iloc[0,9] = random.randint(0,6)
for i in range(8):
    df.iloc[i,9] = random.randint(0,6)
    

def change_week(wData):
    ch = " "
    if wData== 0: ch='일요일'
    elif wData ==1:ch='월요일'
    elif wData ==2:ch='화요일'
    elif wData ==3:ch='수요일'
    elif wData ==4:ch='목요일'
    elif wData ==5:ch='금요일'
    else: ch='토요일'
    return ch

df['요일'] = df['요일'].apply(change_week)
df

df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   요일
지원번호
1번    홍길동   가산고  197   90   85  100  95  85      Python  금요일
2번    유관순   가산고  184   40   35   50  55  25        Java  수요일
3번    이순신   가산고  168   80   75   70  80  75  Javascript  월요일
4번    강감찬   가산고  187   40   60   70  75  80         NaN  월요일
5번     김구   가산고  188   15   20   10  35  10         NaN  목요일
6번    김유신  디지털고  202   80  100   95  85  80           C  월요일
7번    홍길자  디지털고  188   55   65   45  40  35      PYTHON  화요일
8번    홍길순  디지털고  190  100   85   90  95  95          C#  금요일

In [102]:
#학교 , 등학교를 제외후 출력 , 키 :cm 를 제외후 출력 
df['학교'].str.slice(0,-3)
df['키'].str.slice(0,-2)

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: object