In [92]:
import pandas as pd
df = pd.read_csv('file/stock.csv',index_col='N')
df.index.name ='번호'

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 1 to 250
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     250 non-null    object
 1   현재가     250 non-null    object
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), object(9)
memory usage: 23.4+ KB

In [94]:
df.describe()

           외국인비율         ROE
count  250.00000  202.000000
mean    18.42600    8.374010
std     16.25217   13.127001
min      0.00000  -53.210000
25%      6.52000    3.025000
50%     14.14500    8.085000
75%     28.26250   13.147500
max     75.18000   58.010000

In [95]:
df.columns

Index(['종목명', '현재가', '전일비', '등락률', '액면가', '시가총액', '상장주식수', '외국인비율', '거래량',
       'PER', 'ROE'],
      dtype='object')

In [96]:
df.head(2)

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
번호,,,,,,,,,,,
1,삼성전자,"55,800","상승1,000",+1.82%,100,"3,303,158","5,919,638",49.69,"6,139,466",11.27,9.03
2,SK하이닉스,"194,600","상승4,500",+2.37%,"5,000","1,416,693","728,002",53.78,"847,185",7.16,31.06

In [97]:
#'종목명', '현재가,'등락률','시가총액' 출력하시오
# 10~20까지출력 
df[['종목명','현재가','등락률','시가총액']][9:20]

         종목명      현재가     등락률     시가총액
번호
10   HD현대중공업  404,500  -2.06%  359,087
11      셀트리온  151,800  -3.92%  338,499
12     NAVER  191,200  +0.10%  302,932
13      신한지주   51,600  +1.78%  259,778
14     현대모비스  259,000  +1.37%  240,857
15      한화오션   77,700  -2.63%  238,083
16   메리츠금융지주  118,100  -0.08%  212,597
17      삼성물산  123,900  +0.73%  210,601
18  POSCO홀딩스  258,500   0.00%  209,212
19  HD한국조선해양  273,000  -3.70%  193,211
20   두산에너빌리티   29,350  +5.39%  188,005

In [98]:

## columns 3: 5까지 출력하시오 
df[df.columns[3:6]][3:20] # column기준으로 row출력

       등락률    액면가     시가총액
번호
4   -3.89%  2,500  711,384
5   +2.11%  5,000  406,058
6   -4.21%  5,000  383,338
7   +1.26%    100  378,408
8   +2.58%  5,000  364,268
9   -0.22%  5,000  361,259
10  -2.06%  5,000  359,087
11  -3.92%  1,000  338,499
12  +0.10%    100  302,932
13  +1.78%  5,000  259,778
14  +1.37%  5,000  240,857
15  -2.63%  5,000  238,083
16  -0.08%    500  212,597
17  +0.73%    100  210,601
18   0.00%  5,000  209,212
19  -3.70%  5,000  193,211
20  +5.39%  5,000  188,005

In [99]:
#rows 3:30까지출력하시오 

df.iloc[3:30]

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
번호,,,,,,,,,,,
4,삼성바이오로직스,"999,500","하락40,500",-3.89%,"2,500","711,384","71,174",13.04,"72,947",65.67,10.45
5,현대차,"193,900","상승4,000",+2.11%,"5,000","406,058","209,416",35.45,"269,154",4.21,12.43
6,한화에어로스페이스,"841,000","하락37,000",-4.21%,"5,000","383,338","45,581",47.09,"150,543",17.92,53.94
7,삼성전자우,"46,375",상승575,+1.26%,100,"378,408","815,975",73.75,"461,289",9.37,NaN
8,기아,"91,600","상승2,300",+2.58%,"5,000","364,268","397,673",38.59,"360,934",3.75,19.09
9,KB금융,"91,800",하락200,-0.22%,"5,000","361,259","393,528",75.18,"430,187",7.23,8.86
10,HD현대중공업,"404,500","하락8,500",-2.06%,"5,000","359,087","88,773",10.28,"125,433",57.78,11.39
11,셀트리온,"151,800","하락6,200",-3.92%,"1,000","338,499","222,990",22.12,"902,067",81.83,2.46
12,NAVER,"191,200",상승200,+0.10%,100,"302,932","158,437",48.64,"210,129",16.05,7.90
13,신한지주,"51,600",상승900,+1.78%,"5,000","259,778","503,445",57.34,"389,913",5.90,8.11
14,현대모비스,"259,000","상승3,500",+1.37%,"5,000","240,857","92,995",41.72,"52,896",5.96,9.35
15,한화오션,"77,700","하락2,100",-2.63%,"5,000","238,083","306,413",12.80,"1,598,481",45.07,11.52
16,메리츠금융지주,"118,100",하락100,-0.08%,500,"212,597","180,014",16.36,"103,611",9.93,23.44
17,삼성물산,"123,900",상승900,+0.73%,100,"210,601","169,977",27.68,"83,695",10.09,6.83
18,POSCO홀딩스,"258,500",보합0,0.00%,"5,000","209,212","80,933",29.15,"81,144",19.77,2.00
19,HD한국조선해양,"273,000","하락10,500",-3.70%,"5,000","193,211","70,773",32.11,"135,626",16.48,11.16
20,두산에너빌리티,"29,350","상승1,500",+5.39%,"5,000","188,005","640,561",24.45,"9,745,302",168.68,1.52
21,하나금융지주,"64,200",상승400,+0.63%,"5,000","184,409","287,241",66.56,"225,545",4.99,9.11
22,크래프톤,"374,500",하락500,-0.13%,100,"179,454","47,918",41.87,"29,369",13.79,21.10
23,삼성화재,"377,500","상승2,000",+0.53%,500,"178,840","47,375",53.80,"17,092",9.21,13.11
24,고려아연,"853,000","상승5,000",+0.59%,"5,000","176,599","20,703",12.22,"9,563",92.82,2.28
25,한국전력,"27,000",상승50,+0.19%,"5,000","173,330","641,964",18.20,"999,071",4.96,9.22
26,삼성생명,"85,100",상승500,+0.59%,500,"170,200","200,000",21.73,"49,123",8.08,6.18
27,HMM,"19,010",상승850,+4.68%,"5,000","167,486","881,039",9.23,"1,838,760",3.76,15.35
28,카카오,"37,450",상승500,+1.35%,100,"166,246","443,914",28.53,"821,036",302.02,0.56
29,LG화학,"206,500","상승1,000",+0.49%,"5,000","145,773","70,592",30.22,"55,116",-23.40,-2.11
30,KT&G,"116,100","하락2,100",-1.78%,"5,000","141,715","122,062",43.87,"142,541",12.94,12.66

In [100]:
#종목명을 가지고 역순정렬 상위 10개까지 출력하시오 
#인덱스삭제
df.reset_index(inplace=True)

In [101]:
# 종목명으로 인덱스 설정 
df.set_index("종목명",inplace=True)

In [102]:
#역순정렬 
df.sort_index(ascending=False,inplace=True)
df.head(10)
df[df.columns[[1,3,-1]]][:5] # columns출력 1,3,-1(끝번)

           현재가     등락률    ROE
종목명
효성티앤씨  236,500  -0.21%   9.84
효성중공업  532,000  +2.70%  14.90
호텔신라    44,050  +1.38%  -6.50
현대해상    22,000  +2.09%  15.75
현대차우   152,600  +1.46%    NaN

In [103]:
# df - column / df.iloc, df.loc -row정보를 출력
df['현재가']
df[:][:5]
df.iloc[:3]

,번호,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,,
효성티앤씨,245,"236,500",하락500,-0.21%,"5,000","10,235","4,328",17.85,"2,453",7.61,9.84
효성중공업,83,"532,000","상승14,000",+2.70%,"5,000","49,607","9,325",15.84,"30,049",22.28,14.90
호텔신라,177,"44,050",상승600,+1.38%,"5,000","17,289","39,248",14.99,"59,944",-28.64,-6.50

In [104]:
#df.info() # 현재가 타입은 object 
df['현재가'][:3] #타입변경 하는방법 
# 1숫자타입 변경시 , 제거 해야됨 replace 똑같음 str.replace
## 2str.replace(",","")
#  3.타입변경 astype(int)
df["현재가"] = df['현재가'].str.replace(",","").astype(int)
df['현재가'] # object 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 효성티앤씨 to ACE KRX금현물
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      250 non-null    int64
 1   현재가     250 non-null    int64
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), int64(2), object(7)
memory usage: 23.4+ KB

In [112]:
###최대값 최소값, 최대값 상위 5개 하위5개  출력 
# df['현재가'].nlargest(5)
# df['현재가'].nsmallest(5)
df['현재가'].max()
df['현재가'].min()
# df.info()

np.int64(2100)