In [2]:
import pandas as pd 

data = {
    '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자','홍길순'],
    '학교':['가산고','가산고','가산고','가산고','가산고','디지털고','디지털고','디지털고'],
    '키':[197,184,168,187,188,202,188,190],
    '국어':[90,40,80,40,15,80,55,100],
    '영어':[85,35,75,60,20,100,65,85],
    '수학':[100,50,70,70,10,95,45,90],
    '과학':[95,55,80,75,35,85,40,95],
    '사회':[85,25,75,80,10,80,35,95],
    'SW특기':['Python','Java','Javascript','','','C','PYTHON','C#']
}
## index 추가해서 DataFrame 구성 
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index.name = '지원번호'

 파일저장

In [7]:
# csv파일 저장하는방법 utf-8 : 워드패드 ,vscode에서 읽기 가능 , excel에서는 한글지원안됨 .
# utf-8-sig : excel파일에서도 한글지원가능  
#df.to_csv('score.csv',encoding='utf-8-sig') 

### txt 파일 저장하는방법 기본,쉼표사용, sep옵션 구분자 변경이 가능 
#df.to_csv('data/score.txt',encoding='utf-8')
df.to_csv('data/score.txt',sep='\t' ,encoding='utf-8')

### excel파일 저장하는 방법 , 인코딩없음 
df.to_excel('data/score.xlsx')

파일읽기

In [22]:
## csv파일 읽어오기  ,index 지정가능 : indexx_col 
#df = pd.read_csv('data/score.csv',index_col='지원번호')

## txt파일 읽어오기  sep구분자는  기본 쉼표를 기준으로 DataFrame형태로 변경
# 지정된 것이 다르면 데이터 읽어오기가 제대로 안됨. 구분자를 맞춰야함  
# df = pd.read_csv('data/score.txt',sep='\t',index_col="지원번호")
#df = pd.read_csv('data/score.txt',sep='\t')
#df.set_index('지원번호',inplace=True)
import pandas as pd 

## excel 파일 읽어오기 
# df =pd.read_excel('data/score.xlsx',index_col='지원번호')
# df

## excel 파일 읽어오기  skiprows 상단에
df =pd.read_excel('data/score.xlsx',index_col='지원번호')
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    홍길동   가산고  197   90   85  100  95  85      Python
2번    유관순   가산고  184   40   35   50  55  25        Java
3번    이순신   가산고  168   80   75   70  80  75  Javascript
4번    강감찬   가산고  187   40   60   70  75  80         NaN
5번     김구   가산고  188   15   20   10  35  10         NaN
6번    김유신  디지털고  202   80  100   95  85  80           C
7번    홍길자  디지털고  188   55   65   45  40  35      PYTHON
8번    홍길순  디지털고  190  100   85   90  95  95          C#

In [21]:
# skiprows : 상단 row 개수를 삭제후 가져오기 
#index_col : index 지정 
#usecols = 필요한 컬럼만 가져오기 
## nrows : row 가져오기 
df = pd.read_excel('data/202412_202412_주민등록인구및세대현황_연간.xlsx',skiprows=2,index_col="행정기관",usecols='B:C,F:H',nrows=1)
df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

            총인구수      남자 인구수      여자 인구수  남여 비율
행정기관
전국    51,217,221  25,498,324  25,718,897   0.99